.form-field {
  padding-bottom: 15px;
}

.form-field__input {
  padding: 10px 20px;
  width: 100%;
  height: 38px;
  border-radius: 30px;
  border: 0.5px solid $main-bg-color;
  background-color: #fff;

  &::placeholder {
    color: $gray-color;
  }

  &:focus {
    outline: 0.5px solid $main-color;
  }
}

.form-field__input.invalid {
  border-color: $error-color;
}

.form-field__input.valid {
  background-image: url('../img/input-check.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 20px center;
}

.form-field__error-mess {
  display: none;
  margin: 0;
  padding-left: 20px;
  font-size: 7px;
  color: $error-color;
  line-height: 10px;
}

.form-field__input.invalid + .form-field__error-mess {
  display: block;
}