.logo {
  padding: 13px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #0047BB;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 42px;
  }
}
