$text-color: #444444;
$text-small-color: #333333;
$main-color: #0047BB;
$main-bg-color: #FAFBFC;
$main-dark-bg: #EDF7FA;
$disabled-input: #FAFBFC;
$gray-color:  #DCDCDC;
$input-check:  #165AB7;
$hover-color: #082B64;
$error-color: #DF0000;