$text-color: #444444;
$text-small-color: #333333;
$main-color: #0047BB;
$main-bg-color: #FAFBFC;
$main-dark-bg: #EDF7FA;
$disabled-input: #FAFBFC;
$gray-color:  #DCDCDC;
$input-check:  #165AB7;
// $btn-active-color:  #0047BB;
$hover-color: #082B64;
$error-color: #DF0000;
// $slider-text-color: #606981;
// $main-dark-bg: #F4F7FA;
// $select-color: #296093;
// $slider-dots: #959595;
// $form-btn-bg: #DF2030;
// $form-btn-bg-hover: #CA1920;